.table-prix {
  margin: 20px;
  border: 1px solid #ddd;
}

.root-prix {
  width: 100%;
}

.table-head-prix {
  background-color: #f0f0f0;
}

.row-head-prix {
  font-weight: bold;
}

.cell-head-prix, .cell-prix {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.table-body-prix .table-row-prix:nth-of-type(odd) {
  background-color: #fafafa;
}

.cell-prix .update-btn, .cell-prix .delete-btn {
  background-color: #ffcccc;
  color: #ff0000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.cell-prix .update-btn:hover, .delete-btn:hover {
  background-color: #ff9999;
}

.update-btn {
  margin-right: 5px;
}
