@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-user{
    margin: 250px 270px; 
    max-width: 1180px;
    max-height: 500px;
    position: fixed;
    border-radius: 8px;
    overflow-y: auto; /* Permet le défilement vertical */
    overflow-x: hidden; /* Empêche le défilement horizontal */
    -ms-overflow-style: none; /* Masquer la barre de défilement sur IE et Edge */
    scrollbar-width: none;
    background: #fff;
    border-collapse: collapse;
}

.table-user-root{
    vertical-align: middle;
    background: #fff;
}

.header_user{
    background-color: #fff;
}

.row-head-user{
    border-bottom: 1.6px solid #555555;
}

.cell-user-head{
    font-weight: bold;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.body-user{
    width: 100%;
    height: auto;
    padding: 0;
    background: #fff;
}

.row-body-user{
    border-bottom: 1.6px solid #ccc;
}

.cell-user-body{
    position: relative;
    background: #fff;
    display: flex;
}



.md{
    display: flex;
    justify-content: flex-end; /* Place l'icône à droite */
    align-items: center;
    border: none;
    padding: 5px;
    border: none;
    position: relative; 
    margin-top: 2px;
    background: none;
    cursor: pointer;
    margin-right: -50px;
    margin-left: 0px; /* Ajuste l'espace entre le bouton et l'icône */
}

.cell-user-body .delete-icon{
    font-size: 20px;
    color: #F80110;
    background: none;
}