@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container {
    margin: 350px 270px; 
    max-width: 1180px;
    position: fixed;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.table-root {
    border-collapse: collapse;
    background: #fff;
    vertical-align: middle;
}

.table-head {
    background-color: #fff;
}

.table-row-head {
    border-bottom: 1.6px solid #555555;
    background: #fff;
}

.table-cell-head {
    font-weight: bold;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.table-body {
    width: 600px;
    height: 40px;
    background: #fff;
}

.table-row-body {
    border-bottom: 1.6px solid #ccc;
}

.table-cell-body {
    position: relative;
    background: #fff;
    display: flex;
    padding: 8px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.status-icon.green {
    display: inline-block;
    width: 12px;
    left: 15px;
    height: 12px;
    border-radius: 50%;
    background-color: #00AF12;
}

.status-icon.red {
    display: inline-block;
    width: 12px;
    left: 15px;
    height: 12px;
    border-radius: 50%;
    background-color: #F80110;
}

.icon-button {
    background: #fff; /* Suppression de la couleur de fond */
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 40px;  /* Ajustez la largeur selon vos besoins */
    height: 40px; /* Ajustez la hauteur selon vos besoins */
    margin: 0 5px;
    border: none;
}

.icon-button a{
    background: none;
}

.icon-button .edit-icon,
.icon-button .delete-icon {
    font-size: 25px;
    background: #fff;
    border: none;
}

.icon-button .edit-icon {
    color: #00AF12;
    margin-left: -60px;
    background: none; /* Ajustement de la marge pour aligner correctement */
}

.icon-button .delete-icon {
    color: #F80110;
    margin-left: 40px;
    background: none; /* Ajustement de la marge pour aligner correctement */
}
